version: '3.9'

services:
  middleware:
    container_name: middleware
    build: ./middleware
    ports:
      - "5000:80"
    volumes:
      - ./middleware:/app
  
  receiver:
    build: ./middleware
    command: python3 events/events.py

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
        - 5672:5672
        - 15672:15672

  redis:
    image: redis:alpine

  graphql:
    container_name: graphql
    build: ./graphql-server
    ports:
      - "8000:8000"
    depends_on:
      - redis

  chat:
    container_name: chat
    build: ./chat
    ports:
      - "3000:5173"
    volumes:
      - ./chat:/app

networks:
  default:
    name: microsvcs
